p {
    color:blue;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 5px;
    text-indent: 20px;
    border-left: 4px solid blue;
    padding: 20px;
}
h1 {
    background: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

a {
    color: red;
    text-decoration: none;
}
h2 {
    text-decoration: underline;
    font-size: 30px;
    font-weight: 900;

}

img {
    border-radius: 50%;
}
